@use "../sass/mixins.scss" as *;

.favorites {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  background-color: var(--background-pink);
  flex-grow: 2;
  @include from-table {
    padding: 2rem;
    grid-column-start: 1;
    grid-template-columns: repeat(2, 1fr);
  }
}
