.body-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: #f7e2e8;
}
@media (max-width: 800px) {
  .body-container {
    grid-template-columns: 1fr;
  }
}
