.shield {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-pink);
  opacity: 40%;
}

.body-spinner {
  position: absolute;
  top: calc(50% - 50px);
  right: calc(50% - 50px);
  width: 100px;
  height: 100px;
}
