@use "../sass/mixins.scss" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--main-pink);

  &__input {
    width: 80%;
    max-width: var(--max-content-width);
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--main-pink);
    border: 1px solid var(--black);
    transition: width 1s;
    padding-left: 1rem;
    margin-top: 1rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--black);
    }

    @include from-table {
      width: 50%;

      &:focus {
        outline: none;
        width: 60%;
      }
    }
  }

  &__articles-selectors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include from-table {
      flex-direction: row;
    }
  }
  &__select {
    width: auto;
    text-align: center;
    background-color: var(--main-pink);
    border: 1px solid var(--black);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    &:focus {
      outline: none;
    }
  }

  &__favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5rem;
    right: 1.5rem;
    border: 1px solid var(--black);
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: var(--background-pink);
    cursor: pointer;

    @include from-table {
      top: 1rem;
    }

    &:active {
      background-color: var(--main-pink);
    }

    &-image {
      height: 2rem;
      width: 2rem;
    }
  }
}
