.header {
  display: flex;
  justify-content: center;
  background-color: #b48895;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 5rem;
}
.header-input {
  width: 70%;
  height: 40%;
  border-radius: 1rem;
  background-color: #b48895;
  border: 1px solid #000000;
  transition: all 1s;
  padding-left: 1rem;
}

.header-input:focus {
  border: 1px solid #22003f;
  outline: none;
  width: 80%;
}

.submit-button {
  background-color: #000000;
  color: #b48895;
  border: none;
  height: 40%;
  border-radius: 2rem;
}

::placeholder {
  color: #000000;
}
