.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-pink);
  height: 5rem;

  &__input {
    width: 50%;
    height: 40%;
    border-radius: 1rem;
    background-color: var(--main-pink);
    border: 1px solid var(--black);
    transition: all 1s;
    padding-left: 1rem;
    margin-right: 1rem;

    &:focus {
      outline: none;
      width: 60%;
    }

    &::placeholder {
      color: var(--black);
    }
  }
}
