.spinner {
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--black);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
